@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #bf2b29;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  transition: background 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: #fff;
}

.hamburger {
  position: fixed;
  top: 2rem;
  left: 2rem;
  font-size: 3rem;
}
.phone {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
}

.logo {
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  margin: 2rem 0;
  line-height: 1.5;
}

.logo i {
  font-size: 3rem;
}

.logo h2 {
  margin: 0;
  font-weight: normal;
}

.logo p {
  margin: 0;
  color: #1f1f1f;
  font-weight: bold;
}

.carousel-container {
  overflow: hidden;
  position: relative;
  height: 75vh;
  width: 100vw;
  margin: 10rem 0;
}

.carousel {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0);
  display: flex;
}

.slide {
  width: 100vw;
  text-align: center;
}

.slide img {
  object-fit: cover;
  height: 400px;
  width: 400px;
}

.slide h1 {
  color: white;
  font-size: 4rem;
  margin-top: -2rem;
}

.slide a {
  background-color: #1f1f1f;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

.arrow {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  font-size: 5rem;
  color: #000;
  opacity: 0.5;
}

.left-arrow {
  left: 2rem;
}

.right-arrow {
  right: 2rem;
}

@media screen and (max-width: 640px) {
  .hamburger,
  .phone {
    font-size: 2rem;
  }

  .logo {
    font-size: 1.4rem;
  }

  .logo i {
    font-size: 2rem;
  }

  .carousel-container {
    height: 50vh;
    margin-bottom: 3rem;
  }

  .slide img {
    width: 300px;
    height: 300px;
  }

  .slide h1 {
    font-size: 3rem;
  }

  .slide a {
    font-size: 1.2rem;
  }

  .arrow {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .slide img {
    width: 275px;
    height: 275px;
  }

  .slide h1 {
    font-size: 2.8rem;
  }

  .slide a {
    font-size: 1rem;
  }
}

@media (max-height: 700px) {
  .carousel-container {
    height: 65vh;
  }
}

@media (max-width: 430px) {
  .hamburger {
    left: 1rem;
  }

  .phone {
    right: 1rem;
  }

  .logo {
    font-size: 1.2rem;
  }

  .slide img {
    width: 225px;
    height: 225px;
  }

  .slide h1 {
    font-size: 2.5rem;
  }

  .left-arrow {
    left: 0.5rem;
  }

  .right-arrow {
    right: 0.5rem;
  }
}
