@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.wrapper {
  padding: 1rem;
  margin: 0 auto;
  max-width: 95%;
  width: 1200px;
}

.text-center {
  max-width: 95%;
  margin: 0 auto 2rem auto;
  text-align: center;
  line-height: 1.5;
}

.logo {
  font-size: 2.5rem;
  margin: 2rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.logo i {
  font-size: 3.5rem;
  margin-right: 1rem;
}

time {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

nav {
  border-top: 2px solid rgb(164, 159, 159, 0.5);
  border-bottom: 2px solid rgb(164, 159, 159, 0.5);
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding-left: 0;
}

label.toggle,
input.toggle {
  display: none;
}

.row {
  display: flex;
  width: 100%;
  margin: 2rem 0;
}

img {
  max-width: 100%;
}

.col {
  padding: 2rem;
}

.col:not(:last-child) {
  border-right: 2px solid rgb(164, 159, 159, 0.5);
}

.col p {
  line-height: 1.6;
}

@media screen and (max-width: 850px) {
  .row {
    flex-direction: column;
    margin: 1rem 0;
  }

  .col {
    padding: 1rem;
  }

  .col:not(:last-child) {
    border-right: none;
  }
}

@media (max-width: 600px) {
  label.toggle {
    display: initial;
    font-size: 3rem;
    z-index: 2;
  }

  nav {
    border: none;
    display: flex;
    justify-content: center;
    position: relative;
  }

  nav.wrapper {
    padding: 0;
  }

  .nav-menu {
    display: none;
  }

  input[type='checkbox']:checked + .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    background-color: #000;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgb(74, 74, 74);
    width: 90%;
    min-height: 100%;
    z-index: 1;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  .nav-menu a {
    color: #fff;
    transition: all 0.3s ease;
  }

  .nav-menu a:hover {
    opacity: 0.7;
  }
}

@media (max-width: 440px) {
  .logo {
    flex-direction: column;
  }
}
